* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 20rem;
  min-width: 20rem;
  border-right: 1px solid #ccc;
  padding: 1.57rem;
  .logo {
    margin-bottom: 25px;
    a {
      font-size: 30px;
    }
  }
  .description {
    font-size: 18px;
    line-height: 1.7;
    color: #999;
    margin-bottom: 25px;
  }
  .menu {
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
          transition: all 300ms linear;
          -webkit-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -ms-transition: all 300ms linear;
          -o-transition: all 300ms linear;
        }
      }
    }
  }
}

.about-modal {
  max-width: 720px;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px 70px 50px 70px;
  position: relative;
  h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  .btn-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.8);
}
