* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.copied {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bgColor);
  color: var(--textColor);
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebar {
  width: 20rem;
  min-width: 20rem;
  border-right: 1px solid #ccc;
  padding: 1.57rem;
  .logo {
    margin-bottom: 25px;
    a {
      font-size: 30px;
    }
  }
  .description {
    font-size: 18px;
    line-height: 1.7;
    color: #999;
    margin-bottom: 25px;
  }
  .menu {
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
          transition: all 300ms linear;
          -webkit-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -ms-transition: all 300ms linear;
          -o-transition: all 300ms linear;
        }
      }
    }
  }
}

.content {
  flex: 1;
  overflow: auto;
  background-color: #f8f8f8;
  .header {
    // background-color: #0099e5;
    height: 55px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    .search {
      //   background-color: aqua;
      flex: 1;
      position: relative;
      .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      input {
        // background-color: red;
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0 20px 0 50px;
      }
    }
    .download {
      padding-right: 25px;
      .selected-slug {
        font-size: 14px;
        font-weight: 500;
        color: #999;
        display: flex;
        align-items: center;
        button,
        a {
          background: transparent;
          color: #999;
          cursor: pointer;
          svg {
            width: 25px;
            height: 25px;
            margin-right: 15px;
          }
          transition: all 200ms linear;
          &:hover {
            color: #333;
          }
        }
      }
    }
  }
  .brands {
    padding: 25px;
    .brand {
      border: 1px solid #ddd;
      background: #fff;
      padding: 15px;
      margin-bottom: 10px;
      &.selected {
        border-color: rgb(70, 68, 68);
        .brand-colors {
          span {
            flex: 1;
            text-indent: 0;
            .brand-copy-icon {
              display: flex;
            }
          }
        }
      }

      h5 {
        font-size: 21px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: #0099e5;
        }
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear;
      }
      &-colors {
        display: flex;
        gap: 10px;
        span {
          background-color: var(--bgColor);
          padding: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 16px;
          font-weight: 500;
          color: var(--textColor);
          text-indent: -9999px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          .brand-copy-icon {
            // background-color: aquamarine;
            display: none;
            max-width: 40px;
            svg {
              width: 25px;
              height: 25px;
            }
          }
          .brand-color-hex {
            // background-color: red;
            max-width: 40px;
          }
        }
      }
    }
  }
}

.about-modal {
  max-width: 720px;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px 70px 50px 70px;
  position: relative;
  h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  .btn-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg {
      width: 25px;
      height: 25px;
    }
  }
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.8);
}
